<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/join" method="post">
        <div class="form-group">
            <p>
            <label for="b_number">사업자 번호</label>
            <input type="text" id="b_number" name="b_number" placeholder="사업자 번호"> </p>

            <p>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" name="loginId" placeholder="Id"> </p>
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>
